.box{
    display: inline-block;
width: 200px;
height: 200px;
margin: 10px;
background-color: #3f593d;
transition: all 0.5s;
}
.box-1:hover{
    background-color: #ff0d0d;
}
.box-2:hover{
    background-color: #f3ff0d;
}
.box-3:hover{
    background-color: #16ed07;
}
.box-1:active{
    background-color: #12398f;
}
.box-2:active{
    background-color: #f122a2;
}
.box-3:active{
    background-color: #f10914;
}
input:focus{
    outline: none;
}
p::first-letter{
    color: blue;
    text-transform: uppercase;
    margin-right: 3px;
    font-size: 40px;
}
li:nth-child(2n+1){
    background-color: yellow;
}
a{
    text-decoration: none;
    display: block;
    width: max-content;
        
}

a::before{
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(46, 231, 0);
    transform-origin: left;
    transform: scaleX(0);
   
}
a:hover::before{
    transform: scaleX(1);
    transition: all 0.5s;
}
a::after{
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(46, 231, 0);
    transform-origin: 100%;
    transform: scaleX(0);
   
}
a:hover::after{
    transform: scaleX(1);
    transition: all 0.5s;
}

li::after{
    content: " жопа";
}