* {
	font-size: 20px;
	font-family: Tahoma;}

div {
	font-size: 2em;
	color: red;
}

p {
	color: blue;
}

div p {
	color: green;
}

/*h1 p {
	color: yellow;
}*/
div > p {
	color: magenta;
}

div + p {
	font-size: 3em;
}
h1 > p::first-letter {
	color: red;
}

a:hover {
	font-size: 2em;

}

ul > :first-child {
	background-color: red;
}

ul > :nth-child(2n) {
	background-color: yellow;
}

ul > :nth-child(2n+1) {
	background-color: aqua;
}

ul > :nth-child(1) {
	background-color: blue;
}

input:focus {

	background-color: yellow;
}

